html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

body {
    margin: 0;
    padding: 0;
}

#aquarium {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(230, 206, 206);
    background-color: blue;
    background-image: url('../images/backgrounds/aquarium.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}

.bubbles {
    position: absolute;
    background: linear-gradient(to right, rgba(255,0,0,0), rgb(2, 243, 211));
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
} 

.fishes {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    background-size: contain;
    height: auto;
}

p {
    margin-top: 10px;
    text-align: center;
    font-size: 30pt;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.playersTable {
    position: absolute;
    border: 3px solid rgba(60, 79, 255, 0.753);
    background-color: rgba(6, 250, 177, 0.993);
    z-index: 0;
    width: 300px;
    color:rgb(8, 1, 1);  
    max-height: 200px;
    overflow: auto;   
}
.gameplayDisplay {
    position: relative;
    border: 3px solid rgba(15, 19, 248, 0.753);
    background-color: rgba(6, 247, 166, 0.993);
    z-index: 0;
    text-align: center; 
   color:rgb(8, 1, 1); 
}
.gameplayButton {
    position: relative;
    padding: 15px;
     border: 3px solid rgba(2, 230, 40, 0.753);
    background-color: rgba(6, 247, 166, 0.993);
    z-index: 999;
    margin:  auto;
    font-size: 30pt;
    text-align: center; 
    color:rgb(8, 1, 1); 
}
.myTable {
    padding: 10px;
    width: 250px;

}